### Configurações Pyspark

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import Window

import pandas as pd

def write_to_postgresl(df, tb_name=None, write_mode='None'):
    df.count()
    if tb_name is None:
        raise Exception('Informe o nome da tabela')
    if write_mode is None:
        raise Exception('Informe o mode de escrita: append ou overwrite')
        
    from datetime import datetime
    start_time = datetime.now()
    
    try:
        df.write.jdbc(url, table=tb_name, mode=write_mode, properties=properties)
    except Exception as e:
        print(f'Erro: {e}')
    end_time = datetime.now()
    
    total_time = str(end_time - start_time)
    
    return f'Total time: {total_time} and - Total rows: {df.count()} - Total columns: {len(df.columns)}'



    # Criando a sessão do Spark
spark  = SparkSession.builder \
    .appName("Data Analysis") \
    .config('spark.jars', '/data/IDAF/DATABASECONNECTOR_JAR_FOLDER/postgresql-42.2.18.jar')\
    .config("spark.executor.memory", "8g")\
    .config("spark.driver.memory", "8g")\
    .config("spark.executor.cores", "4")\
    .config("spark.executor.instances","8")\
    .config("spark.sql.shuffle.partitions","96")\
    .config("spark.default.parallelism","96")\
    .getOrCreate()


url = "jdbc:postgresql://localhost:5432/postgres"

properties = {
    "user" : "postgres",
    "password" : "cidacs",
    "driver" : "org.postgresql.Driver"
}

25/07/14 21:25:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/07/14 21:25:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
25/07/14 21:25:16 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
25/07/14 21:25:16 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

### Configurações Pandas

In [2]:
spark.conf.set("spark.sql.repl.eagerEval.enabled", True)
spark.conf.set("spark.sql.repl.eagerEval.truncate", 100)
spark.conf.set("spark.sql.repl.eagerEval.maxNumRows", 300)

spark.conf.set("spark.sql.debug.maxToStringFields", 100)

pd.set_option("display.max_columns", None) 
pd.set_option("display.max_rows", None)

### Lendo dados enriquecidos

In [3]:
df_input = (spark
            .read
            .parquet('/data/IDAF/PROJETOS/PARCERIA_CIDACS_PHDC/scripts_omop_tb/basefinal_tb_limp_enriched')
           )

### Location

In [4]:
df_location = (df_input
               .select('codmunres_sinasc').distinct()
               .withColumn('city', F.lit(None))
               .withColumn('state', F.substring('codmunres_sinasc', 1,2))
               .withColumn('county', F.col('codmunres_sinasc'))
               .withColumn('address_1', F.lit(None))
               .withColumn('address_2', F.lit(None))
               .withColumn('zip', F.lit(None))
               .withColumn('location_source_value', F.lit(None))
               .withColumn('country_concept_id', F.lit(None))
               .withColumn('country_source_value', F.lit(None))
               .withColumn('latitude', F.lit(None))
               .withColumn('longitude', F.lit(None))
               .withColumn('location_id', F.col('codmunres_sinasc'))
               .distinct()
            ).select(
                    F.col('location_id').cast('integer'),
                    F.col('city').cast('string'),
                    F.col('state').cast('string'),
                    F.col('county').cast('string'),
                    F.col('address_1').cast('string'),
                    F.col('address_2').cast('string'),
                    F.col('zip').cast('string'),
                    F.col('location_source_value').cast('string'),
                    F.col('country_concept_id').cast('integer'),
                    F.col('country_source_value').cast('string'),
                    F.col('latitude').cast('float'),
                    F.col('longitude').cast('float')
                    )

df_location.count()

5612

## Salvando no Postgresql

In [5]:
write_to_postgresl(df_location, tb_name='tuberculose.location', write_mode='append')

'Total time: 0:00:04.027707 and - Total rows: 5612 - Total columns: 12'